

body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}


.wrap {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  background: orange;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
}

nav a {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(51, 25, 25);
  font-weight: bold;
}


.hero {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  background: #b87835;
  padding: 20px;
  border-radius: 10px;
}

.hero img {
  width: 200px;
  border-radius: 500px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background: rgb(218, 166, 70);
  color: white;
  text-decoration: none;
  border-radius: 6px;
}


h2 {
  margin-bottom: 10px;
}


.menu-grid {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.price {
  font-weight: bold;
  color: orange;
  margin-top: 5px;
}


form input,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: orange;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}


footer {
  text-align: center;
  margin-top: 20px;
  color: #777;
}
